.ant-targets*
.classpath
.idea
*.iml
Selenium-TestNG-Study-Framework.iml
.project
.settings
/_eclipse/
/local.properties
build
eclipse-build
ivy*
javadocs
lib
maven-testng-plugin-1.2.jar
nb-configuration.xml
out
src/generated
target
test-output
test-output-tests
testng.iml
z_build
.DS_Store
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.cache-main
.scala_dependencies
.worksheet
.buildpath
.target
